
<div class="db-container">
  <div>
    <span class="count"><%= @products %></span>
    <div class="spinner"></div>
    <div class="shadow"></div>
  </div>

  <h1><a href="/admin/products">Products</a> in the database</h1>
</div>


<div class="db-container">
  <div>
    <span id="category-count" class="count"><%= @categories %></span>
    <div class="spinner"></div>
    <div class="shadow"></div>
  </div>

  <h1>Categories in the database</h1>
</div>

