<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<%= @hello %>


<h1>how many products in the database: </h1>
<h3>Count: <%= @products %></h3>

<h1>how many categories in the database: </h1>
<h3>Count: <%= @categories %></h3>