
<div class="quote">
  <h1>WE SELL SOME <em>WEIRD</em> STUFF!</h1>
</div>

<div id="pink-quote" class="quote">
  <h1>BUY <em>SOME</em> STUFF!</h1>
  <div id="bars">
    <div class="blue-bar"></div>
    <div class="pink-bar"></div>
  </div>
</div>



<img id="about-img" src="https://images.unsplash.com/photo-1507864676385-e69c0ca53dbd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80">